.search_icon{
  position: absolute;
  right: calc(50% - 112px);
}
.search_icon:hover{
  cursor: pointer;
}
.plus_icon{
  position: absolute;
  color: #f3f0d7;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: -2px;
  top: -1px;
}

